<div class="container">
  <h2>検索結果</h2>

  <table class="table table-hover">
    <thead>
      <th>name</th>
      <th>title</th>
      <th></th>
      
    </thead>
    <tbody>
      <tr>
      <% if @datas.exists? %>
          <% @datas.each do |data| %>
            <!--userモデルの値があったら-->
            <% if @model == 'user' %>
  
              <td><%= data.name %></td>
            <% else %>

            <!--bookモデルの値があったら-->
            <% @model == 'book' %>
              <td><%= data.title %></td>
            <% end %>
          <% end %>
      <% else %>
              <td>一致するものはありません</td>
      <% end %>
  
      </tr>
    </tbody>
  </table>
</div>





