<div class="container">
  <h2>検索結果</h2>

  <table class="table table-hover">
    <thead>
      <th>name</th>
      <th></th>
      <th></th>
      
    </thead>
    <tbody>
      <tr>
          <% @datas.each do |data| %>
       <!--条件分岐が必要-->
          <td><%= data.title %></td>
          <% end %>
  
      </tr>
    </tbody>
  </table>
</div>